* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

span#check {
	display: none;
	color: red;
}

/* 점 없애기 */
ul {
	list-style: none;
	padding-left: 0px;
}

#chatBlock {
	display: flex;
	flex-direction: column;
	padding: 30px 30px 20px;
	border-bottom: 2px solid white;
	overflow-y: scroll;
	height: 575px;
	width: 30vw;
	min-width: 500px;
	background: #d8b57a;
}

.you {
	border-radius: 20px;
	text-align: right;
}

.me {
	border-radius: 20px;
	text-align: left;
}

div.message {
	background: #94C2ED;
	color: white;
	padding: 18px 20px;
	line-height: 26px;
	font-size: 16px;
	border-radius: 7px;
	margin-bottom: 10px;
	position: relative;
	clear: both;
	float: left;
}

#sendMessage {
	height: 64px;
	width: 8vw;
	background-color: #d8b57a;
}

#textMessage {
	min-width: 450px;
	width: 24vw;
	height: 60px;
	font-size: inherit;
	width: 24vw;
}

#inputText {
	display: flex;
	justify-content: space-evenly;
}

.you div.message {
	color: black;
	background: yellow;
	float: right;
}

main {
	height: 1000px;
}

#chatRoom_name {
	display: flex;
	justify-content: space-between;
}

input[type="button"] {
	width: 8vw;
	height: 50px;
	background-color: #d8b57a;
}