@charset "UTF-8";


.contents_wrap .card-top, .cards-wrap{
	width: calc(25% - 44px);
	margin-right: 44px;
	margin-bottom: 56px;
}

.contents_wrap .card-top .card-photo, .contents_wrap .card-photo {
	width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F8F9FA;
    box-shadow: 0px 0px 0px 6px rgb(0 0 0 / 15%);
    box-sizing: border-box;
}

.img_href{
	width: 150px;
    display: block;
    margin: 0 auto;
}

.cards_wrap{
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
}

#img_size {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

#item_contents{
	padding-top: 6%;
	text-align: center;
}
.sell{
	color: grey;
}