@charset "UTF-8";

.contents_wrap .card-top, .cards-wrap {
	width: calc(25% - 44px);
	margin-right: 40px;
	margin-bottom: 56px;
}

.contents_wrap .card-top .card-photo, .contents_wrap .card-photo {
	width: 100%;
	height: 150px;
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	background-color: #F8F9FA;
	box-shadow: 0px 0px 0px 6px rgb(0 0 0/ 15%);
	box-sizing: border-box;
}

.img_href {
	width: 150px;
	display: block;
	margin: 0 auto;
}

.cards_wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 7%;
	justify-content: center;
}

#img_size {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

#item_contents {
	padding-top: 6%;
	text-align: center;
}

.sell {
	color: grey;
}

span.note {
	width: 20px;
	height: 20px;
	line-height: 25px;
	text-align: center;
	background-color: #ffc107;
	color: white;
	font-size: 13px;
	border-radius: 15px;
	display: inline-block;
	position: absolute;
	margin: -3px;
	top: 10px;
	left: 10px;
}

.list_text {
	display: flex;
	justify-content: center;
	padding-top: 5%;
	font-size: 2em;
}

.card-top {
	border: solid;
	border-radius: 10px;
	padding-top: 1%;
	display: flex;
	align-items: center;
}