@charset "UTF-8";

.contents_detail{
	display:flex;
		padding-top: 13%;
    justify-content: center;
}

.detail_img{
    text-align: center;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F8F9FA;
    box-shadow: 0px 0px 0px 6px rgb(0 0 0 / 15%);
    box-sizing: border-box;
}

#img_size {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.detail_text_text{
	grid-area : detail_text_text;
}

.detail_item_name > h2{
	font-size : 30px;
	font-weight: bolder;
}

.detail_item_price{
	margin-bottom: 10%;
}

#contents_d{
	padding-top: 5%;
}

#button_chat{
	width:100px;
	height: 40px;
}

button{
	width:100px;
	height: 40px;
}