.join_form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.join_font{
	font-size: 40px;
}

.join_form .input {
	margin: 4%;
}

.error_msg {
	display: none;
}

#join_box {
	width: fit-content;
	margin: auto;
	margin-top: 3%;
	background-color: #cfc0a7;
}

#join_box>h1 {
	font-size: xx-large;
	font-weight: 500;
	margin-left: 38%;
}

#address_1 {
	width: 40%
}


.form_submit>input {
	width: 200px;
	height: 50px;
	font-size: larger;
}

.title_submit{
	padding-top: 20px;
    padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

.join_form input[type="text" i] {
	width: 460px;
	height: 51px;
	border-color: rgba(0, 0, 0, 0.096);
}

.join_form input[type="password" i] {
	padding: 1px 2px;
	width: 460px;
	height: 51px;
	border-color: rgba(0, 0, 0, 0.096);
}

#add_bnt{
	width:90px;
	height: 30px;
}


#e_mail_1, #e_mail_2 {
	width: 45%;
}

.join_form label {
	font-size: medium;
	font-weight: bold;
}

