@charset "UTF-8";

.log_font_fir{
	font-size: 28px;
}

#login_box {
	display: flex;
    margin: 10%;
    background-color: #d8b57a;
    flex-direction: column;
    align-items: center;
}

.log_font{
	font-size: 18px;
	color:black;
}

#essential{
	color: red;
}


#bnt_login{
	width:269px;
	height: 45px;
}

.bnt_{
	width:269px;
	height: 45px;
}

.bnt_size{
    cursor: pointer;
    background-color: #d8b57a;
    border: none;
    width: 79px;
    height: 44px;
}

.input_box{
	margin:5px;
}