@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap')
	;

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: inherit;
}

p.logo {
	font-family: 'Jua', sans-serif;
	font-size: xx-large;
}

.wrap {
	display: flex;
	flex-direction: column;
}

.header {
	height: 18vh;
	width: 100%;
	display: flex;
	border-bottom: double #1d1d1d;
	background-color: #d8b57a;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

.potato_icon {
	margin-left: 20px;
}

.main_form input[type="text" i] {
	width: 300px;
	height: 40px;
}

.main_icon {
	width: 40px;
	height: 40px;
}

#button {
	width: 100px;
	height: 40px;
}

.log_join {
	margin-right: 20px;
}

.contents_wrap {
	margin-bottom: 50px;
	min-height: 100vh;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #d8b57a;
}

.project {
	display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
}

.potato_icon {
	display: flex;
	align-items: center;
}

#project_font{
	font-size:20px;
}

#member{
	font-size:17px;
	font-weight:bold;
}

#part{
	font-weight:bold;
}

.note-num {
    position: absolute;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #e91e63;
    border-radius: 15px;
    display: inline-block;
}