@charset "UTF-8";

div.pagedetail {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: white;
	align-items: center;
	padding-top: 10%;
}

.mypage {
	width: 100%;
	height: 50px;
	font-size: 18px;
    background: #caa465;
	color: white;
	border: solid 1px;
}

.mypage:hover {
	background: #d8b53a;
	border: solid 2px black;
}

.selected {
	background: #c63c3c;
	color: #f8f9fa;
}

.mydetail {
	height: 50px;
	border: solid 1px #d8b57a;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
}

.mypage_bnt {
	display: flex;
}
 .modalbut {
   	width: 100px;
    height: 30px;
    font-size: 12px;
    background: #d8b57a;
    color: white;
    border: solid 1px;
}

