@charset "UTF-8";

div.pagedetail{
	display: flex;
    flex-grow: 1;
	flex-direction: column;
    background-color: white;
}

 .mypage {
   width: 300px;
    height: 50px;
    font-size: 18px;
    background: #d8b57a;
    color: white;
    border: solid 1px;
}

.mydetail{
	height:50px;
	border : solid 1px #d8b57a ;
	width : 500px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}


