@charset "UTF-8";

.contents_wrap .orderd-top, .orderds-wrap {
	width: calc(25% - 44px);
	margin-right: 44px;
	margin-bottom: 56px;
}

.contents_wrap .orderd-top .orderd-photo, .contents_wrap .orderd-photo {
	width: 100%;
	height: 250px;
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	background-color: #F8F9FA;
	box-shadow: 0px 0px 0px 6px rgb(0 0 0/ 15%);
	box-sizing: border-box;
}

.orderd_img_href {
	width: 150px;
	display: block;
	margin: 0 auto;
}

.orderds_wrap {
	margin: 10%;
	display: flex;
	flex-wrap: wrap;
}

#orderd_img_size {
	width: inherit;
	height: inherit;
	/* object-fit: cover; */
}

#orderd_contents {
	padding-top: 6%;
	text-align: center;
}

p.title {
	text-align: center;
	font-size: 3em;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}