@charset "UTF-8";

.contents_box{
	margin: 10%;
    height: 400px;
    padding-bottom: 21%;
    background-color: #d8b57a;
}

li{
	cursor: pointer;
}

.li_box{
	display: flex;
    font-size: 2em;
    padding-top: 13%;
    justify-content: space-evenly;
    color: gray;
    list-style:none;
}

.title_box{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.check_box input[type="text" i]{
	width: 300px;
	height: 40px;
}


.submit_box{
	width:304px;
	height:40px;
	font-size:20px;
}

.check_box{
	padding-top:20px;
}

#result_id{
	padding-top: 5%;
    font-size: 26px;
}

#result_pw{
	padding-top: 5%;
    font-size: 26px;
}

.selected{
	color: black;
}